#!/bin/bash

set -e

echo "runing post install"

## Enable services
echo "enable systemd services"
#systemctl --user enable --now low-battery.service #requires some notification deamon like mako or dunst

## The End
echo "finished post install"
notify-send -i dialog-information "Post-Install" "Your dotfiles are set up!"
