{{ if eq .system_id "home_desk" }}
# monitors
~/.config/hpyer/scripts/legion_switcher wide

# auto start
exec-once = telegram-desktop -startintray
exec-once = [workspace 1] firefox
exec-once = steam -silent

{{ else if eq .system_id "home_work" }}
$lid_script_path = ~/.config/hypr/scripts/lid_state
# notebook lid
bindl = , switch:Lid Switch, exec, $lid_script_path

# monitors
monitor = , preferred, auto-right, 1

# autostart
exec-once = [workspace 1] ideas
exec-once = [workspace 2] teams-for-linux
exec-once = [workspace 2] spotify
exec-once = [workspace 3] firefox
exec = $lid_script_path

{{ end }}
monitor = , preferred, auto-right, 1
