{{ if eq .system_id "home_desk" }}
# monitors
monitor = LG Electronics LG HDR 4K 0x00060F37, 3840x2160@60, 0x0, 1.50
monitor = LG Electronics LG Ultra HD 0x0000C49F, 3840x2160@30, 2560x0, 1.50
source = ./config/workspaces.conf

# auto start
exec-once = telegram-desktop -startintray
exec-once = [workspace 1] firefox
exec-once = steam -silent

{{ else if eq .system_id "home_work" }}
$lid_script_path = ~/.config/hypr/scripts/lid_state
# notebook lid
bindl = , switch:Lid Switch, exec, $lid_script_path

# monitors
monitor = , preferred, auto-right, 1

# autostart
exec-once = [workspace 1] ideas
exec-once = [workspace 2] teams-for-linux
exec-once = [workspace 2] spotify
exec-once = [workspace 3] firefox
exec = $lid_script_path

{{ end }}
monitor = , preferred, auto-right, 1
